.competitorCard {
  position: relative;
  width: var(--competitor-card-width);
  height: var(--competitor-card-height);
  font-weight: bolder;
  font-size: var(--competitor-card-font-size);
  background-color: var(--first-competitor-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border-radius: 24px;
  border: 6px solid transparent;
}

.firstServer {
  background-color: var(--first-competitor-color);
}

.secondServer {
  background-color: var(--second-competitor-color);
}

.firstDefender {
  border-color: var(--first-competitor-color);
  color: var(--first-competitor-color);
}

.secondDefender {
  border-color: var(--second-competitor-color);
  color: var(--second-competitor-color);
}

.server {
  color: var(--secondary-color);
}

.defender {
  background-color: var(--secondary-color);
}

.competitorHeader {
  width: var(--competitor-header-footer-width);
  height: var(--competitor-header-footer-height);
  position: absolute;
  top: 8px;
  border-bottom: 1px solid currentColor;
}

.competitorName {
  text-align: center;
  font-size: var(--competitor-name-font-size);
  margin-block: 0;
}

.competitorFooter {
  height: var(--competitor-header-footer-height);
  position: absolute;
  bottom: 8px; 
  width: var(--competitor-header-footer-width);
  border-top: 1px solid currentColor;
}

.competitorMatchScore {
  font-size: var(--competitor-match-score-font-size);
  font-weight: bold;
  text-align: center;
}