.competitorCard {
  width: var(--competitor-card-width);
  height: var(--competitor-card-height);
  font-weight: bolder;
  font-size: var(--competitor-card-font-size);
  background-color: var(--first-competitor-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border-radius: 24px;
  border: 6px solid transparent;
}

.firstServer {
  background-color: var(--first-competitor-color);
}

.secondServer {
  background: var(--second-competitor-color);
}

.firstDefender {
  border-color: var(--first-competitor-color);
  color: var(--first-competitor-color);
}

.secondDefender {
  border-color: var(--second-competitor-color);
  color: var(--second-competitor-color);
}

.server {
  color: var(--secondary-color);
}

.defender {
  background-color: var(--secondary-color);
}