* {
    box-sizing: border-box;
}

#root {
    // colors
    --first-competitor-color: #0091EA;
    --second-competitor-color: #19AE00;
    --none-winner-color: #BBC7CD;
    --score-color: #FFFFFF;
    --divider-color: rgba(128, 128, 128, 0.5);
    --secondary-color: #FFFFFF;
    // font
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    //sizes
    --competitor-card-font-size: 256px;
    --competitor-card-width: 500px;
    --competitor-card-height: 500px;
    //other
    --loser-score-opacity: 0.6;
    //styles
    font-family: var(--font);
}

body {
    padding: 0;
    margin: 10px;
}